h1{
    color: "white";
    
}
.header{
    background-color: rgb(209, 255, 220);
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    font-family: 'Trebuchet MS';
}
 .site-description{
     display:flex;
     flex-direction: column;
     justify-content: first baseline;
     background-color: rgb(226, 255, 197);
     
 }   
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item{
 border:darkred;
 border-radius: 20px;
 background-color: rgb(131, 132, 182);

 width: 310px;
 font-family: 'Franklin Gothic Medium';
}


.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
    
    
}